
@media print {
  html, body {
    font-size: 10pt;
  }
  .flex > .first { order: -999; }
  .flex > .last { order: 999; }
  .one, .two, .three, .four, .five, .six, .seven, .eight, .nine, .ten, .eleven, .twelve {
    width: 99.99%;
  }
  .c11, .c10, .c9, .c8, .c7, .c6, .c5, .c4, .c3, .c2, .c1 { 
    display: block;
    max-width: 100%;
    flex-basis: 100%;
    width: 99.99%;
    *width: 99.99%;
  }
  .off11, .off10, .off9, .off8, .off7, .off6, .off5, .off4, .off3, .off2, .off1 { 
    margin-left: 0px;
  }
  h1 { font-size: 28pt; }
  .print { display: inherit !important; }
  .screen { display: none !important; }
  .navbar { display: none !important; }
  hr {
    page-break-after: always;
    visibility: hidden;
  }
  blockquote { border: none; }
  .theref {
    margin: 0px;
    padding: 2px;
  }
  .theref p { width: 450px; }
  .theref a {
    display: inline;
    width: 400px;
    word-wrap: break-word;
    overflow: visible;
  }
  .references {
    display: block;
    margin-bottom: -20px;
  }
  .figure {
    border-top: none;
    margin: 0 0 50px 0;
    font-size: 8pt;
  }
  .thumbnail {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: transparent;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    page-break-inside: avoid;
  }
  @page {
    size: A4;
    margin: 3cm 3cm 3cm 3cm;
  }
}
